.Test-container {
  min-height: 80px;
}

.Test-container-row {
  padding: 15px;
  width: 100%;
  margin: 0;
}

.Test-container-row:hover {
  background-color: #f2f2f2;
}

.Test-active {
  background-color: #f2f2f2;
}

.Test-icon-col {
  margin-top: 12px;
}

.Test-icon {
  cursor: pointer;
  color: #0f8bff;
}

.Test-texts-col {
  margin-top: 5px;
}

.Test-title {
  font-size: medium;
}

.Test-id {
  font-style: italic;
  font-size: small;
  color: grey;
}

.Test-loading-failed {
  text-align: center;
  font-size: larger;
  line-height: 100px;
}

.Test-search-group {
  margin-bottom: 0;
  margin-top: 5px;
}

.Test-search-inner,
.Test-search-inner:focus,
.Test-search-inner:hover {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  box-shadow: none;
}
