.Loaded-container {
  height: 62px;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: inherit;
  /*box-shadow: 0px 6px 6px -4px #888 inset;*/
  overflow-y: auto;
  margin: 0;
  box-sizing: border-box;
  border-top: 1px solid grey;
}

.Loaded-shadow {
  box-shadow: 0px 6px 6px -4px #888 inset;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  overflow-y: auto;
}

.Loaded-item {
  background-color: white;
  border-style: solid;
  border-radius: 6px;
  border-color: white;
  margin: 10px;
  font-size: smaller;
}

.Loaded-text-col {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0;
}

.Loaded-close-col {
  padding: 0;
  text-align: center;
}

.Loaded-close-btn {
  color: red;
  padding-left: 0;
  padding-right: 0;
}
