.Primary-container {
  min-height: 80px;
}

.Primary-container-row {
  padding: 15px;
  width: 100%;
  margin: 0;
  padding-right: 0;
  display: flex;
}

.Primary-container-row:hover {
  background-color: #f2f2f2;
}

.Primary-active {
  background-color: #f2f2f2;
}

.Primary-icon-col {
  margin-top: 12px;
}

.Primary-icon {
  cursor: pointer;
  color: #0f8bff;
}

.Primary-texts-col {
  margin-top: 5px;
  padding-right: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Primary-title {
  font-size: medium;
}

.Primary-id {
  font-style: italic;
  font-size: small;
  color: grey;
}

.Primary-loading-failed {
  text-align: center;
  font-size: larger;
  line-height: 100px;
}

.Primary-search-group {
  margin-bottom: 0;
  margin-top: 5px;
}

.Primary-search-inner,
.Primary-search-inner:focus,
.Primary-search-inner:hover {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  box-shadow: none;
}

.testVersionGroup {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.groupButton {
  width: 50%;
  color: #777;
}

.groupButton:hover {
  background-color: #e6e6e6;
}

.groupButtonActive {
  color: #0f8bff;
  border-color: #0f8bff;
}
